*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    background-image: url(./images/background.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}
.menu{
    display: flex;
    width: 100%;
}

.logo-menu{width: 50%;}

.items-menu{
    width: 50%;
    text-align: right;
    text-shadow: 1px 3px 3px rgba(0,0,0,0.65);
}

.items-menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.items-menu a:hover{
    border-bottom: 3px solid #ffdd33;
}

.items-menu a.contact-btn{
    background-color: #0f3fd3;
    padding: 10px 12px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-shadow:none
}
.items-menu a.contact-btn:hover{
    border: 0;
    background-color: #0b2e96;
}

.macbook{
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.macbook h1{
    font-size: 50px;
}

.macbook img{max-width:100%;padding-top: 15px;}

section.marcas{
    padding: 100px 0;
}
section.marcas img{
    transition: 0.25s ease-in-out;
    width: calc(100% / 5);
}

section.marcas img:hover{
    transform: scale(1.10);
    cursor: pointer;
}

section.porque-nos{
    padding: 80px 0;
    background-color: #fbfcfe;
}

section.porque-nos > .center{
    max-width: 1300px;
}

section.porque-nos > .center > h2{
    font-size: 64px;
    text-align: center;
    width: 100%;
}
section.porque-nos > .center > p{
    font-size: 14px;
    color: #ccc;
    text-align: center;
    width: 100%;
}

.diferenciais{
    display: flex;
    margin: 50px 0;
}

.box-diferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    width: 33%;
    margin-right: 0.75%;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.25s ease-out;
}

.box-diferenciais:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.box-diferenciais h3{
    font-size: 26px;
    color: black;
    margin: 15px 0;
}

.box-diferenciais p{
    font-size: 13px;
    color: #7E92AC;
    margin: 20px 0px 40px 0px;
}
.box-diferenciais img{
    width: 35%;
    margin-top: 40px;
}

section.vamos{
    background-image: url(./images/banner.svg);
    padding: 20px 10px;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    text-align: center;
    color: white;
}

section.vamos h2, section.vamos h4{
    font-weight: normal;
    margin: 10px 0;
}

section.vamos h2{
    font-size: 43px;
}

section.vamos a{
    display: inline-block;
    padding: 15px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #ffdd33;
    text-decoration: none;
    color: #0f3fd3;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
section.vamos a:hover{
    background-color: #dab914;
}

.beneficios > .center{
    max-width: 1300px;
}

section.beneficios{
    padding: 80px 0;
}

.lista-beneficios{
    width: 45%;
    padding-top: 65px;
}

.lista-beneficios h2{
    color: black;
    font-size: 48px;
    padding-bottom: 40px;
    padding-left: 4%;
}

.lista-beneficios p{
    color: #7E92AC;
    vertical-align: middle;
    font-size: 14px;
}

.lista-beneficios span{
    display: inline-block;
    width: calc(100% - 75px);
}

.lista-beneficios img{
    display: inline-block;
    vertical-align: middle;
    width: 75px;
}

.lista-beneficios a{
    display: inline-block;
    margin-left: 4%;
    padding: 15px 24px;
    border-radius: 6px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #255AFF;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.lista-beneficios a:hover{
    background-color: #0b2e96;
}

.img-beneficios{
    width: 55%;
}

.img-beneficios img{
    max-width: 100%;
}

section.depoimentos{
    background-color: #FBFCFE;
    padding: 150px 0;
}

section.depoimentos > h1{
    text-align: center;
    font-size: 48px;
}

.container-slider{
    overflow:hidden;
    padding:40px 15px; 
}

.container-slider-single{
    float: left;
    background-color:white;
    text-align: center;
    height: 340px;
    padding:15px;
    border-radius:15px;
    box-shadow: 6px 6px 14px 4px rgba(0,0,0,0.05);
}

.container-slider-single p{
    margin:15px 0;
    color:#7E92AC;
    font-size: 14px;
}

section.contato > div{
    justify-content: center;
    align-items: flex-end;
}
section.contato{
    margin: 0 auto;
}
section.contato > div > h1{
    font-size: 48px;
    text-align: center;
    padding: 90px 0;
    width: 100%;
}

section.contato > div > form > input, section.contato > div >  form > textarea{
    background-color: #FCFDFF;
    min-width: 500px;
    height: 50px;
    border: 2px solid #C3CCE8;
    border-radius: 10px;
    padding: 0 4%;
    margin: 10px 0;
}

section.contato > div > form > textarea{
    height: 180px;
    padding: 3% 4%;
    resize: none;
}

input::placeholder, textarea::placeholder{
    color: #7E92AC;
    font-weight: bold;
}


section.contato > div > a{
    background-color: #255AFF;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 2% 220px;
    transition: 0.3s ease-in-out;
}
section.contato > div > a:hover{
    transform: scale(1.02);
    background-color: #0b2e96;
    cursor: pointer;
}

.footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: #255AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.footer a{
    text-decoration: none;
    color: #d43356;
    font-weight: bold;
}

.slick-slide {
    margin-left:27px;

  }

  /* the parent */
  .slick-list {
    margin-left:-27px;
   
  }

/****SLICK SLIDER****/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #373855;
	color: #373855;
}

.slick-slide:focus { outline: none; }

.items-menu-mobile{
    width: 50%;
    text-align: right;
    display: none;
}

.items-menu-mobile i{
    color: white;
    font-size: 30px;
    position: relative;
    top: 16px;
    cursor: pointer;
}
.menu-mobile{
    display: flex;
    flex-wrap: wrap;
    text-align: right;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .items-menu-mobile{
        display: block;
    }
    .menu-mobile{
        opacity: 0;
        transition: 0.55s;
        position: absolute;
        left: 54%;
        top: 68px;
        background-color: white;
        width: 40%;
        padding: 20px 0;
        border-radius: 15px 0px 15px 15px;
        box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.22);
    }

    .show{
        opacity: 1;
    }
    .hide{
        opacity: 0;
    }
    .menu-mobile a{
        text-align: center;
        display: block;
        width: 100%;
        margin: 20px 5px;
        color:rgb(41, 41, 41);
        text-decoration: none;
        font-weight: bold;

    }
    .items-menu{
        display: none;
    }
    .diferenciais{
        flex-wrap: wrap;
    }

    .box-diferenciais{
        width: 100%;
        margin-right: 0;
    }

    section.marcas > .center{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    section.marcas img{
        width: 100%;
        max-width: 200px;
    }
    .lista-beneficios,.img-beneficios{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .lista-beneficios p{
        text-align: justify;
        padding: 0 10%;
    }

    section.contato > div > form > input, section.contato > div >  form > textarea{
        width: 70%;
        height: 50px;
        padding: 0 4%;
        margin: 8px 0;
    }
    section.contato > div > form > textarea{
        width: 100%;
        height: 100px;
        padding: 3% 4%;
        resize: none;
    }
}

@media screen and (max-width: 520px){

    .items-menu-mobile i{
        top: 0.5vw;
    }

    section.contato > div > a{
        margin-top: 8px;
        padding: 3% 40%;
    }
    section.contato > div.center{
        max-width: 300px;
    }
    section.contato > div > form > input, section.contato > div >  form > textarea{
        min-width: 100%;
        height: 35px;
        padding: 0 3%;
    }
    section.contato > div > form > textarea{
        width: 100%;
        height: 110px;
        padding: 3% 4%;
        resize: none;
    }
    .logo-menu img{
        width: 80%;
    }
    .macbook h1, section.porque-nos > .center h2, section.vamos h2, .lista-beneficios h2, section.depoimentos h1, .contato > .center h2{
        font-size: 40px;
    }
}